<div>
  <div class="d-flex justify-content-center">
    Bem Vindo!
  </div>

  <br/>

  <form ng-submit="$ctrl.login()" novalidate class="">
    <div class="form-row d-flex justify-content-center">
      <div class="form-group form-group-sm">
        <label for="emailInput">Email</label>
        <input type="email" ng-model="$ctrl.username" class="form-control form-control-sm" id="emailInput"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
    </div>
    <div class="form-row d-flex justify-content-center ">
      <div class="form-group form-group-sm">
        <label for="passwordInput">Password</label>
        <input type="password" ng-model="$ctrl.password" class="form-control form-control-sm" id="passwordInput"
               placeholder="Enter password">
        <small id="passwordHelp" class="form-text text-muted"></small>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
